.col-xs-3.col-sm-3.product
  .row.text-center
    img(src=product.image)

  .row
    span.product-price.label.label-danger $#{product.price}

  .row
    a(href="/products/#{product.id}")
      = truncate(product.name, 50)

  if product.Categories
    .row
      for category in product.Categories
        a.product-category.label.label-primary(href="/products?category_id=#{category.id}") #{category.name}

  if product.Merchant
    .row
      a(href="/products?merchant_id=#{product.Merchant.id}") #{product.Merchant.name}

