// prevPage
// nextPage
// pageNumbers
// curPage
// products

if pagesNumbers
  .text-center
    ul.pagination
      if prevPage
        li.prev: a(href="#{buildParams(prevPage, q, category, merchant)}", aria-label='Previous')
          span(aria-hidden='true') &laquo;

      for pageN in pagesNumbers
        li(class="#{pageN == curPage ? 'active' : ''}")
          a(href="#{buildParams(pageN, q, category, merchant)}") #{pageN}

      if nextPage
        li.next: a(href="#{buildParams(nextPage, q, category, merchant)}", aria-label='Next')
          span(aria-hidden='true') &raquo;
